html,
body {
    padding: 0rem;
    margin: 0rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}





/* css class  */

/* padding classes  */
.Pd-1 {
    padding: 1rem 1rem;
}

.Pd-2 {
    padding: 2rem 2rem;
}

.Pd-4 {
    padding: 4rem 4rem;
}

.Pd-8 {
    padding: 8rem 8rem;
}

.Pd-10 {
    padding: 10rem 10rem;
}

.Pd-20 {
    padding: 20rem 20rem;
}

.Pd-40 {
    padding: 40rem 40rem;
}

/* <=======================================================> */

/* margin classes  */

/* margin in x axis  */

.mx-1 {
    margin: 1rem 0rem;
}

.mx-2 {
    margin: 2rem 0rem;
}

.mx-4 {
    margin: 4rem 0rem;
}

.mx-8 {
    margin: 8rem 0rem;
}

.mx-10 {
    margin: 10rem 0rem;
}

.mx-12 {
    margin: 12rem 0rem;
}

.mx-18 {
    margin: 18rem 0rem;
}

.mx-20 {
    margin: 20rem 0rem;
}


/* margin in y axis  */

.my-1 {
    margin: 0 1rem;
}

.my-2 {
    margin: 0 2rem;
}

.my-4 {
    margin: 0 4rem;
}

.my-8 {
    margin: 0 8rem;
}

.my-10 {
    margin: 0 10rem;
}

.my-12 {
    margin: 0 12rem;
}

.my-18 {
    margin: 0 18rem;
}

.my-20 {
    margin: 0 20rem;
}

/* button class */

.button-primary {

    padding: 1rem;
    margin: 1rem;
    border: none;
    width: 5rem;
}


/* nav bar  */
.Nav_Bar {
    height: 30vh;
    padding: 1rem 1rem;
}

/* add flex box classes   */
.Flex-Box-wrap-rw {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30rem;
    flex-wrap: wrap;
}

.Flex-Box-wrap-rrw {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30rem;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.Flex-Box-nowrap-rw {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30rem;
    flex-wrap: nowrap;
}

.Flex-Box-nowrap-rrw {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30rem;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.Flex-Box-nowrap-col {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30rem;
    flex-wrap: nowrap;
    flex-direction: column;
}

.Flex-Box-wrap-col {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30rem;
    flex-wrap: nowrap;
    flex-direction: column;
}



/* center a item  */


.position-rel {
    position: relative;
}

.centre-item {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* zindex */

.z--1 {
    z-index: -1;
}

.z-2 {
    z-index: 2;
}



/* responsive image size  */

.img-width-10 {
    width: 10rem;
    max-height: 10rem;
    margin: 2rem 0rem;
    padding: 1rem 1rem;
}

.img-width-30 {
    width: 30rem;
    max-height: 30rem;
    margin: 2rem 0rem;
    padding: 1rem 1rem;
}

.img-width-50 {
    width: 50rem;
    max-height: 50rem;
    margin: 2rem 0rem;
    padding: 1rem 1rem;
}

.img-width-80 {
    width: 80rem;
    max-height: 80rem;
    margin: 2rem 0rem;
    padding: 1rem 1rem;
}


/* responsive logo */

.res-logo-ss {
    width: 5rem;
    height: 5rem;

}


.res-logo-ms {
    width: 8rem;
    height: 8rem;

}

.res-logo-ls {
    width: 15rem;
    height: 15rem;
}


/* viewport height */


.vh-150 {
    height: 150vh;
}

.vh-100 {
    height: 100vh;
}

.vh-80 {
    height: 80vh;
}

.vh-20 {
    height: 20vh;
}







/* mobile responsive design */
@media (max-width: 767px) {
    /* CSS rules for mobile devices */


}




@media (min-width: 768px) and (max-width: 1023px) {
    /* CSS rules for tablets */
}